nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.text-primary{
    color: #fd6e0a
}

.btn-primary{
    border-radius: 5px;
    background: #fd6e0a;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 20px;
}

ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: #474747;
}

nav.ul{
    display: flex;
    align-items: center;
}